    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Team</h2>
                <ul class="list-inline">
                    <li>
                    <img src="/blink/img/new-logo.png">
                    <p style="font-family:fantasy;">Member 1</p>
                    <p style="font-family:helvetica;">Member 1 short intro</p>
                    </li>
                    <li>
                    <img src="/blink/img/new-logo.png">
                    <p style="font-family:fantasy;">Member 2</p>
                    <p style="font-family:helvetica;">Member 2 short intro</p>
                    </li>
                    <li>
                    <img src="/blink/img/new-logo.png">
                    <p style="font-family:fantasy;">Member 3</p>
                    <p style="font-family:helvetica;">Member 3 short intro</p>
                    </li>
                </ul>
                <p>Text placeholder Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
    </section>
