    <!-- Contact Section -->
    <section id="benefit" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Benefit</h2>
                <p>Sample image or team</p>
                </p>
            </div>
        <article class="flow">
    <div class="team col-lg-8 col-lg-offset-2">
      <ul class="auto-grid" role="list">
        <li>
          <a href="" target=_blank" class="profile">
            <img alt="Sample mint 1" src="https://source.unsplash.com/BhcutpohYwg/800x800" />
          </a>
        </li>
        <li>
          <a href="" target=_blank" class="profile">
            <img alt="Sample mint 2" src="https://source.unsplash.com/j5KAuRrYX7g/800x800" />
          </a>
        </li>
        <li>
          <a href="" target=_blank" class="profile">
            <img alt="Sample mint 3" src="https://source.unsplash.com/pQyIutdScOY/800x800" />
          </a>
        </li>
        <li>
          <a href="" target=_blank" class="profile">
            <img alt="Sample mint 4" src="https://source.unsplash.com/55JRsxcAiWE/800x800" />
          </a>
        </li>
        <li>
          <a href="" target=_blank" class="profile">
            <img alt="Sample mint 5" src="https://source.unsplash.com/5wn6DeAEcmE/800x800" />
          </a>
        </li>
      </ul>
    </div>
  </article>
        </div>
    </section>
