 <!-- RoadMap Section -->
 <section id="roadmap" class="content-section text-center">
  <h2>Roadmap</h2>
    <div class="timeline">
<div class="containert left">
<div class="contentt">
  <h3>Git 1.0</h3>
  <p>Visit this site to learn about Git and become comfortable with basic Git practices</p>
</div>
</div>
<div class="containert right">
<div class="contentt">
  <h3>PLB</h3>
  <p>This self-paced course will teach you the basics of understanding code in less than one day</p>
</div>
</div>
<div class="containert left">
<div class="contentt">
  <h3>PLVM</h3>
  <p>Now you are ready to download and complete the learning VM</p>
</div>
</div>
<div class="containert right">
<div class="contentt">
  <h3>GSWP</h3>
  <p>At this point you are ready to take the in-person training to get some hands-on practice with an instructor</p>
</div>
</div>
<div class="containert left">
<div class="contentt">
  <h3>P Arch</h3>
  <p>Ready for a deeper dive? This course will take you even further</p>
</div>
</div>
<div class="containert right">
<div class="contentt">
  <h3>Keep going!</h3>
  <p>The journey never ends. Here are some resources to keep you on your learning path.</p>
</div>
</div>
</div>
</section>
